@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');


#title {
  font-family: 'Londrina Outline', cursive;
  font-size: 6em;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}
